{% extends "base.html" %}

{% block title %}
Expense Categories
{% endblock title %}

{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories.all %}
                <tr>
                    <td>{{ category.name  }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
